/* _________ Shared Styles _____________ */


@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Serif+Malayalam:wght@100..900&display=swap');




h1 , h2 , h3 ,h4 , a , tr , input , ul{
    font-family: "Inter", sans-serif; 
    color: white;
} 

h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 15px;
}

p , td , li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}


.bg-image{
    background-image: linear-gradient(to bottom, #292828, #000000, #000000, #000000, #000000);
    background-repeat: no-repeat;
}


 
html, body {
  scroll-behavior: smooth;
}




/* _____________________ Navbar _______________________ */



.navbar-title{
    color: rgb(230, 83, 60);
    font-size: 36px;
}

.dropdown-btn{
    display: none;
}

.dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
    height: auto; 
}

.dropdown-content{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    height: 4em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 0px 20px 0px 10px;
    
    li{
        list-style: none;
        font-size: 18px;
    }

    a{
        text-decoration: none;
        font-size: 18px;
    }

}


.home {
    border-radius: 50px;
    background: rgb(230, 83, 60);
    font-size: 18px;
    padding: 12px 30px 12px 30px;
}



.icon{
    display: none;
}

/* ____________________ Header Content ________________ */


.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h1{
        font-size: 80px;
        margin-bottom: 0;   
    }
      
}


.header-content-shape{
    font-family: "Playwrite CZ", cursive;
    font-weight: 100;
}


.header-content-btn-1 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    width: 45%;
    height: 54px;
    margin-right: 1em;
    cursor: pointer;
}

.header-content-btn-1:hover {
    background: rgb(245, 236, 236);
    color:rgb(230, 83, 60) ;
}

.header-content-btn-1:active , .header-content-btn-2:active{
    transform: scale(0.95);
    box-shadow: none;
}

.header-content-btn-2:hover {
    color: rgb(230, 83, 60);   
}



.header-content-btn-2{
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: none;
    border-radius: 42px;
    border: 2px solid white;
    background: transparent;
    width: 45% ;
    height: 54px; 
    cursor: pointer;  
}



               /* __________ Header Card ___________ */




.header-card-container{
    background-image: url(../images/Images\ 2.png);
    width: 30%;
    height: 36em;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-top: 0;
}

.header-card-2{
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-top: 0;  
}


.header-card-1{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15em;
    width: 45%;
}


.header-card-content-1{
    width: 75%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(16px);
    background: rgba(48, 48, 48, 0.54);
    border-radius: 12px;

    h2{
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 0;
    }
    
}


.header-card-2{
    display: flex;
    width: 35%;
    height: 85%;
    align-items: end;
}

.header-card-content-2{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.384);
    border-radius: 12px;

    h2{
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 0;
    }
}


.play-circle{
    display: none;
}


.circle{
    width: 50px;
    height: 50px;
}






 /* %%%%%%%%%%%%%%%%% Workout Content &&&&&&&&&&&&&&&&&&&&& */



.workout-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.workout-content-description{
    text-align: center;
    
    h1{
        font-size: 55px;
    }

}

.workout-content-image{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
 }


.round-image {
    width: 200px;            
    height: 200px;           
    border-radius: 50%;      
    object-fit: cover;       
}
  

/* ((((((((((((((((((((((       Running Card       )))))))))))))))))))))) */

.Running{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;  
}

.running-card{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: 20px;
    background: rgb(34, 34, 34);  
    padding: 0px 30px 0px 30px;
    width: 60%;
    height: auto;
    padding: 30px;
}



.running-card-image{
    width: 100%;
    height: 20em;
    border-radius: 20px;  
}


.running-card-content {
    display: flex;
    flex-direction: column;

    h1{
        font-size: 45px;
        margin-bottom: 5px;
    } 
}

.running-btn{
    width: 70%;
}



/* ^^^^^^^^^^^^^^^^^^^^^^  Training Content ^^^^^^^^^^^^^^^^^^^^^ */



.training-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;  
}

.training-container-title{  
    margin-bottom: 1%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 45px;
    }
}

.training-images{  
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}


.training-image-size-1 , .training-image-size-2 , .training-image-size-3 , .training-image-size-4 , .training-image-size-5 , .training-image-size-6{

    width: 100%;
}

.training-image-1 , .training-image-2 , .training-image-3 , .training-image-4 , .training-image-5 , .training-image-6{

    position: relative;
    text-align: center;
    display: flex;

    img{
        mix-blend-mode: multiply;
    }
}

.training-image-1{
    width: 25%;
    background-color: aquamarine;   
}

.training-image-2{
    width: 40%;   
    background-color: rgb(253, 113, 113);
}


.training-image-3 {
    width: 35%;
    background-color:rgb(168, 168, 168);
}


.training-image-4 {
    width: 30%;
    background-color:rgb(168, 168, 168);
}



.training-image-5{
    width: 32.1%;
    background-color:lightgreen; 
}


.training-image-6{
    width: 37.9%;
    background-color:rgb(117, 117, 252);
}



.text-overlay-1 , .text-overlay-3 , .text-overlay-5 , .text-overlay-6 {
    position:absolute; 
    top: 70%;
    left: 5%;
}

.text-overlay-2 {
    position:absolute;
    right: 80%;
}

.text-overlay-4 {  
    position:absolute; 
    left: 75%;
}




/* ============================ Membership =============================== */



.membership-container{
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.membership-container-heading{
    display: flex;
    justify-content: center;
    font-size: 50px
}


.membership-content{
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center; 
}


.price-1 , .price-3 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-radius: 5px;
    width: 15%;
    height: 28em;
    background: rgb(34, 34, 34);
}

.price-1{
    
    p{
        margin: 21px;
        
    }
}
.price-3{
    p{
        margin: 10.5px;
    }
}


.price-2 , .price-4{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.945);
    width: 15%;
    height: 28.4em;
    h1 ,h2, h3{
        color: black;
    }


    p{
        color: black;  
    }
    
}


.price-4{
    
    p{
        margin: 4px;
    }
}



.price-content{
    display: flex;
    flex-direction: column;  
    align-items:start;
    justify-content: left; 
    width: 90%;
}

.price-border{    
    border: 1px solid rgb(87, 86, 86);
    width: 100%; 
}



.buy{
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;   
}

.price-btn-1 , .price-btn-2 , .price-btn-3 , .price-btn-4  {
    background-color: orangered;
    border: none;
    width: 5em;
    height: 2.5em;
    font-size: 25px;
    border-radius: 5px;
    font-weight: 500;
    font-weight: 100;
    background: rgb(230, 83, 60);
}

.price-btn-1:hover , .price-btn-3:hover{ 
    background-color:white;
    color: orangered;  
    transform: scale(1.1);
    transition: 0.4s;
}

.price-btn-2:hover , .price-btn-4:hover{  
    background-color:black;
    color: orangered;
    transform: scale(1.1);
    transition: 0.4s;
}

.month{
    font-size: 15px;
}




/* +++++++++++++++++++ BMI Calculator +++++++++++++++++++ */

                     /* _______ Table_______ */



.bmi-calculator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
}

.bmi-title{  
    h1{
        font-size: 55px;
    }
}


.bmi-container{
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgb(34, 34, 34);
    padding-bottom: 3%;
    width: 100%;
    
    h1{
        font-size: 25px;
    }
}


.table-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right; 
    align-items: end;
}

.table-content-title{
    display: flex;
    text-align: center;
    width: 48.5%;
    justify-content: center;
}


table{
    border-collapse: collapse;
}


td , th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
}



                        /* ____ Calculate Your Bmi ______ */



.bmi{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;  
}

.bmi-form{
    width: 70%;
    height: 15em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;  
}

.box-1{
    grid-column: span 2;
}

.input{   
    text-align: center;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);   
}



.box , .box-1{
    background-color:rgb(56, 56, 56);
    color: whitesmoke;
}





/* ####################     Team Content      ################# */


.team-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    
}

.team-content-title{
    text-align: center;

    h1{
        font-size: 45px;
    }
}

.team-images{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgb(34, 34, 34); 
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
}

.trainer-container-image{
    position: relative;
    text-align: center;
    display: flex;  
}


.trainer-container-image > img {
    opacity: 0.7;
}

.trainer-image-size-1 , .trainer-image-size-2 , .trainer-image-size-3 , .trainer-image-size-4 , .trainer-image-size-5 , .trainer-image-size-6{
    
    position: relative;
    text-align: center;
    display: flex;  
    width: 100%;
    height: 100%;   
    border-radius: 20px;
}

.trainer-name{
    position: absolute;
    top: 80%;
    left: 5%;
}


/* ............................. Contact .............................. */




.contact{
    height: 50em;
    background-image: url(../images/Dumbbells.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 5%;
    
    h1{
        font-size: 100px;
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30%;
}

.contact-input{   
    border: none;
    border-radius: 10px;
    width: 100%;
    background: rgba(182, 180, 180, 0.541);   
    height: 4em;
    text-align: center;
    outline: none;
    color: black;
    font-size: 15px;
    word-spacing: 20px;
}

.contact-input::placeholder{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
}

.contact-input:hover{
    transform: scale(1.05);
    background-color: wheat;  
    transition: 0.3s linear;
}

.contact-input-submit{
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    background-color: rgb(230, 83, 60);
    border-radius: 10px;
    height: 3em;
    border: none;
}

.contact-input-submit:hover{
    background-color:white ;
    color: black;
    transform: scale(1.0.5);
    box-shadow: 9px 7px 0px 0px   rgb(230, 83, 60);
    transition: 0.6s;
}






/* ------------------  Footer Content -------------- */

.foot-bg{
    background: rgb(34, 34, 34);   
}

.foot-container{
    display: flex;
    display: flex;
    justify-content:center;
    gap: 10em;
    align-items: center;

    h1{
        font-size: 50px;
    color: rgb(230, 83, 60)
    }
}


.foot-ul-content{
    text-align: left;
    list-style: none;

    li{
        height: 50px;
    }
}


.foot-ul{
    display:flex;
    gap: 50px;
}

.foot-ul-content-title{
    font-size: 25px;
}

.copy-rights{
    display: flex;
    justify-content: center;
}


.foot-border{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.foot-border-border{
    border: 2px solid rgb(14, 13, 13);
    width: 60%;
}

.foot-container-title{ 
    height: 75%;
}





/* _______________________________________  Mobile Screen ___________________________________________ */



@media screen and (max-width: 576px)  {


    /* **************** Navbar ***************** */
    


    .dropdown {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
    }


    .dropdown-content {
        display: none;
        position:absolute;
        text-align: center;
        backdrop-filter: blur(10px);
        left: 52%;
        top: 70%;
        width: 40%;
        height: 21em;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        z-index: 1;
        
        li{
            margin-bottom: 20px;
        }
        
        a{
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            color: white;
        }
    }


    .home{
        margin-top: 20px;
    }


    .dropdown-btn{
        display: block;
        border: none;
        background: none;
    }

    .dropdown:hover .dropdown-content {   
        display: block;
    }
    
    .icon{
        padding-right: 10px;
        color: white;
        font-size: 30px;
    }
    
        
        
    /* ^^^^^^^^^^^^^^^^^ Header content ^^^^^^^^^^^^^^ */
    
    
    .header-content{
        flex-direction: column; 
    } 
    
         
    .header-content-title{  
        width: 100%;
        h1{
            font-size: 60px;
        }
    }
    
    .header-card-container{  
        width: 100%;
    }
    
    .header-card-1{  
        justify-content: center;
        align-items: center;  
    }
    
    .header-card-content-1{
        width: 90%;
    }
    
    .header-card-2{
        width: 50%;
        height: 60%; 
        justify-content: end;
    }

    .header-card-content-2{
        width: 90%;
        height: 27%;
    }
    
    .circle{
        display: none;
    }
    
    .play-circle{
        display: block;
    }
    
    /* !!!!!!!!!!!!!!!!!!!! Workout Content !!!!!!!!!!!!!!!!!!!!!!!! */

    
    .workout-content-image{
        grid-template-columns: repeat(1, 1fr);
    }
    
    
    /* #################### Running Content ################# */
    
       
    .running-card{
        flex-direction: column;  
        width: 90%;
        gap: 20px; 
    }

    .running-card-content{
        justify-content: center;
        align-items:start;
        text-align: left;
    }

    .running-card-image{
        width: 100%;
        height: auto;
    }
    
    .running-btn{
        width: 100%;
    }
       
    
        /* ++++++++++++++++++ Training Content +++++++++++++++ */
    
    
    
    .training-container-title{
        text-align:left;
            
        h1{
            margin-bottom: 0;
        }
    }

    .training-images{
            
       width: 100%;        
    }
    
    .training-image-1, .training-image-2, .training-image-4, .training-image-5{
        width: 50%;
    }
    
    
    .training-image-3 , .training-image-6{
        display: none;
    }
        
    
    .text-overlay-1{
        top: 60%;
    }
    .text-overlay-2{
        right: 60%;
    }
    .text-overlay-4{
        left: 55%;
    }
    .text-overlay-5{
        top: 50%;
    }
    
        
    
        /* '''''''''''''''''''''''''''         Membership Content           ''''''''''''''''''' */
        
    
    
    .membership-container-heading{
        font-size: 30px;
    }
    
    .membership-content{  
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .price-1 , .price-2 , .price-3 , .price-4{     
        width: 80%;
    }
    

        
        /* ___________________ BMI Calculator ______________ */
    

    
    .bmi-container{
        flex-direction: column; 
    }
    
    .table-content{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .table-content-title{
        width: 100%;
    }
    
    .bmi{
        width: 100%;
   }

    .bmi-form{
        width: 90%;
    }

    .input{
        width: 100%;
    }
    
      
    
    
    /* $$$$$$$$$$$$$$     Team Content   $$$$$$$$$$$$$$$ */
    
        
    
    .team-content{
        height: auto;
    }

    .team-images{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 20px; 
    }

    .trainer-container-image > img{
        opacity: 0.7;
        border-radius: 15px;
    } 
    
    
    
    /* <<<<<<<<<<<<<<<<<<<<<< Contact form >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    
    
    .contact-form{
       width: 90%;
    }
    
    .contact{
        width: 100%;
        background-position:center;
    
        h1{
            font-size: 45px;
            text-align: center;
        }
    }
    
    
    /* ^^^^^^^^^^^^^^^ Footer Content ^^^^^^^^^^^^^^^^^^^^ */
    
    .foot-container{
        height: 50%;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        text-align: center;
        gap: 0;
        margin-top: 15%;
    }
    
    .foot-container-title{
        padding-left: 10%;
        padding-top: 5%;
        text-align: left;
    }
    
    
    .foot-ul{
        width: 100%;
        gap: 0;
        flex-direction: column;
        justify-content: start;
        text-align: center;
    }
    
    .foot-ul-content{
        width: 70%;
    }
    
    .foot-border{
        width: 100%;  
     }

    .foot-border-border{
        width: 80%;
    }
    
        
    
}   
    
    
    
    
    
    
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Medium Size Device >>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    
    
    
@media screen and (min-width: 577px) and (max-width: 992px){
        
    
    
    
    /* ^^^^^^^^^^^^^^^^^  Navbar content ^^^^^^^^^^^^^^^^^^^^^^ */
    
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .dropdown-content{
        width: 70%;
        justify-content: space-between;
    }


    
    /* ?????????????????????  Header content ???????????????????? */
    
    .header-content{ 
       flex-direction: column;
    }

    .header-content-title{
       width: 90%;
    }
    
    .header-card-container{
        width: 100%;
    }

    .header-card-1{
        justify-content: start;
        align-items: center;
        width: 40%;
    }

    .header-card-content-1{
       width: 60%;
    }

    .header-card-2{  
        justify-content: end;
        width:40%;
    }

    .header-card-content-2{
        width: 60%;
    }

    /* <<<<<<<<<<<<<<<<<<<<<< Workout container >>>>>>>>>>>>>>>>>>>> */

   
    .workout-content-image{
        width: auto;
        grid-template-columns: repeat(2, 1fr);
        
    }  
        
    
    /* """"""""""""""""""""""      Running Card       """""""""""""""""""" */

    
    .running-card{
        width: 90%;
    }

      
    /* [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[   Training Container      ]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]] */

      
    .training-images{
        width: 90%;
    }

    .training-image-6{
        width: 37.9%;
    }

    .text-overlay-1 , .text-overlay-3 , .text-overlay-5 , .text-overlay-6{
        top: 60%;
    }
    .text-overlay-2{
        right: 70%;
    }         
    .text-overlay-4{
        left: 60%;
    }
    

       
    /* ''''''''''''''''''''''''''      BMI Container          '''''''''''''''''''''''''''' */
    
    
                    /* <<<< Table container >>>>> */
        
    
    .bmi-container{
        flex-direction: column;   
    }
    
    .table-content{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .table-content-title{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .bmi{
        width: 100%;
    }

    .bmi-form{
        width: 95%;
    }

       
    
    /* ||||||||||||||||||||||||||| Membership Container |||||||||||||||||||||||||||||||||||| */
    
    
    .membership-container{
        width: 100%; 
    }
    
    .membership-content{
        width: 100%;
        flex-wrap: wrap;
    }
    
    .price-1 , .price-2 , .price-3 , .price-4{

        width: 36%;
    }
    
    
    
    /* ================ Team Container +++++++++++++++++++++++++++++ */
        
    .team-images{
        width: 90%;
        height: auto;
    }
    
    
    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! End !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    
       
    
    .contact{
           
        h1{
            text-align: center;
        }
    }

    .contact-form{
        width: 60%;
    }

    .contact-input{
        width: 100%;
    }



  
    
    /* |||||||||||||||||||   Footer |||||||||||||||||||| */



    .foot-container{
        gap: 0;
        flex-direction: column;
        align-items: start;
            
    }

    .foot-container-title{
        padding-left: 5%;
        
    }

    .foot-ul{
        align-items: start;  
    }

    .foot-border-border{
        width: 90%;
    }
    
}
    
    
    
    
    
    /* <<<<<<<<<<<<<<<<<<<<<<< Laptop >>>>>>>>>>>>>>>>>>>>>> */
    
    
    
@media screen and (min-width: 992px) and (max-width: 1240px){
    
    
    /* //////////////////////// Navbar content \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
     
        
    .dropdown{
        justify-content: space-around;
    }

    .dropdown-content{
        width: 60%;
        justify-content: space-between;
    }
        
        
    /* IIIIIIIIIIIIIIIIIIIIIII  Header Content IIIIIIIIIIIIIIIIIIIIIIII  */
        
 
    .header-card-1{
        justify-content: start;
        align-items: center;
        width: 40%;
    }
       
    .header-content{
        flex-direction: column;
        width: 90%;
        justify-content: left;
    }

    .header-content-title{
        width: 90%;
    }

    .header-card-container{
        width: 80%;
    }

 

    /* ================= Workout Content =================== */
        

    .workout-content{
        display: flex;
    }

    .workout-content-image{
        width: 90%;
    }


    /* ^^^^^^^^^^^^^^^^^^^^^ Running Card ^^^^^^^^^^^^^^^^^^^^^ */

        
    .running-card{
        width: 80%; 
    }
    

    /* __________________________ Training Content ________________________ */
        
    
    
    .training-images{
        width: 85%;
    }
    
    .training-image-6{
        width: 37.9%;
    }

    .text-overlay-2{
        right: 70%;
    }
    .text-overlay-3{
        top: 60%;
    }
    .text-overlay-4{
        left: 70%;
    }
    
        
    
    /* |||||||||||||||||||||||    Membership Content |||||||||||||||||||||| */
    
    
    .membership-content{    
        width: 100%;
        flex-wrap: wrap;
    }
    
    .price-1 , .price-2 , .price-3 , .price-4{
        width: 35%;
    }
    
        
    /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Bmi content ////////////////////////////// */
        
            
      
    .bmi-container{
        flex-direction: row;
    }
    .table-content-title{
        width: 90%;
    }
    .bmi{
        width: 100%;
    }
    .bmi-form{
        width: 90%;
    }
    
        
        
    /* ;;;;;;;;;;;;;; Team Content ;;;;;;;;;;;;;;; */
        
        
    
    
    /* -------------------------------- End ----------------------------------- */

    .contact{
                
        h1{
            text-align: center;
        }
    }

    .contact-form{
                
        width: 50%;
    }
        
        
        
    /* ////////////// Footer content /////////////  */
        
    .foot-container{
        gap: 0;
    }
        
    .foot-container-title{
        width: 50%;
    }
        
    .foot-border{
        width: 100%;
    }
    .foot-border-border{
        width: 90%;
    }
        
}
    
    
    
/* \\\\\\\\\\\\\\\\\\\\\\\\\\ Large devices /////////////////////////// */
    
    
    
    
@media screen and (min-width: 1240px) and (max-width: 1439px){
    
   
   .header-card-container{
    width: 35%;
   }

   .dropdown{
    justify-content: space-evenly;
    gap: 4%;
   }

   .dropdown-content{
    width: 50%;
    justify-content: space-between;
    gap: 0;
   }



/* <<<<<<<<<<<< Running Card >>>>>>>>>>>>>>>>>>> */

    .running-card{            
        width: 85%;
        
    }
    

    /* >>>>>>>>>>>>>>>>>>>>>> Workout content >>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .workout-content-image{
        width: 95%;
    }

    
    /* __________________________ Training Content ________________________ */
        
        
    
    .training-images{
        width: 90%;
    }

    .training-image-6{
        width: 37.9%;
    }
  
    
    /* |||||||||||||||||||||||    Membership Content |||||||||||||||||||||| */
    
    
    
             
    .membership-content{
        gap: 40px;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .price-1 , .price-2 , .price-3 , .price-4{
        width: 20%;
    }
    
    
    
    /* """"""""""""""""""""""""""""""""""""      Bmi Calculator      """""""""""""""""""""""" */
     
    .table-content-title{
        width: 65%;
    } 
    
    
    /* ................. Footer >>>>>>>>>>>>>>>>>>>>>> */

    .foot-border{
        width: 100%;
    }
    .foot-border-border{
        width: 85%;
    }

}


@media screen and (min-width: 1440px) and (max-width: 1700px) {
     
    .dropdown-content{
        width: 45%;
    }

    .header-card-1 {
        width: 50%;
    }
    .header-card-2{
        width: 45%;
    }

}





